<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-if</title>
    <script src="/vue/Package/vue3.2.47.global.js"></script>
<body>
<div id="app">
<!--    <div v-if="true">Hello,vue</div>-->
<!--    //当判断条件的值为true时，才会显示后面的文本-->
<!--    多重判断-->
    <div v-if="type === A">
        A
    </div>
    <div v-else-if="type === B">
        B
    </div>
    <div v-else-if="type === C">
        C
    </div>
    <div v-else="type === D">
        D
    </div>
</div>
<script>
    const app = Vue.createApp({
        data(){
            return {
                type : "A"
            }
        }
    })
    const vm = app.mount("#app")
</script>
</body>
</html>