.shop{
    position: fixed;
    top: 30px;
    left: 400px;
}
.ball{
    position: fixed;
    left: 32px;
    bottom: 22px;
    z-index: 200;
    transition: all 0.4s cubic-bezier(0.49 , -0.29 , 0.75 , 0.41);
/*    贝塞尔曲线*/
}
.inner{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgb(220 , 0 , 11);
    transition: all 0.4s linear;
}
.cart{
    position: fixed;
    bottom: 22px;
    width: 30px;
    height: 30px;
    background: rgb(220 , 0 , 84);
    color: rgb(255 , 255 , 255);
    text-align: center;
    line-height: 30px;
}
